@improt "root";

.app-card {
    display: none;
    min-height: 100%;
    
    &--active {
        display: block;
    }
    
    &--slide {
        display: block;
        float: left;
        width: 50%;
    }
}

.app-cards {
    padding-top: $appbar-height;
    box-sizing: border-box;
    min-height: 100%;
    
    display: block;
    overflow: hidden;
 
    &__card-box {
        min-height: 100%;
        
        &--slide {
            width: 200%;
            margin-left: 0%
        }
    }   
}